/* Global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* Ensure there's no scrolling */
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #B5BFC3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

.navbar-left h1 {
    color: #fff;
    font-size: 24px;
}

.navbar-middle ul {
    display: flex;
    list-style: none;
}

.navbar-middle ul li {
    margin: 0 10px;
}

.navbar-middle ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar-right a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}




h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #666;
}

/* Blog Section */
.blog-section {
    padding: 40px 0;
}

/* Blog Grid */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-item {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 20px;
}

.blog-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.blog-info {
    text-align: left;
}

.blog-info p {
    color: #999;
    margin-bottom: 10px;
    font-size: 12px;
}

.blog-info h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.blog-info .description {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

/* Hover Effect */
.blog-item:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .blog-item {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .blog-item {
        width: 100%;
    }
}